@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}
html{
  min-height: 100%;
}
body{
  background:linear-gradient(#fff , #74a4da);
}
header{
  height: 100vh;
  width: 100%;
  background-position: center;
}
::selection{
  background: #17756a;
}
nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2000;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  justify-content: space-evenly;
}
nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 20px;
}
nav .menu a{
  color: #526a81;
  font-size: 25px;
  font-weight: 1000;
  text-decoration: none;
}
nav .menu a:hover{
  color: #000;
}
nav .menu .media-icons{

    display: relative;
    flex-direction: row;
    position: absolute;
    right: 40px;
    bottom: 40px;
}
  .media-icons a{
   margin: 10px;
   font-size: 30px;
   font-weight: 500;
   text-decoration: none;
   opacity: 0.7;
   color: #2c3350;
   transition: all 0.3s ease;
  }
  .media-icons a:hover{
   opacity: 20;
  }
div .text-content{
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}
div .text-content .text{
  font-size: 27px;
  color: #2c3350;
}
.text-content .name{
color: #2c3350;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}
 .text-content .job{
 color: #2c3350;
 font-size: 40px;
 margin: 5px 0;
 margin-top: -4px;
 display: flex;
}
.text-content .typing-text{
  margin-left: 25px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 10px solid #18aa9e;
  animation: typing 5s steps(15) infinite;
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  50%{
    width: 28ch;
  }
  100%{
    width: 0ch;
  }
}
.text-content .job .one{
  color: #18aa9e;
}
.text-content .job .two{
  color: #18aa9e;
}
.text-content .job .three{
    color: #18aa9e;
  }
.buttons{
  margin: 20px 0 0 50px;
}
.text-content .buttons button{
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #2AFADF     10%, #C346C2 100%);
}
.buttons button:hover{
  transform: scale(0.97);
}
.content .girl img{
  position: absolute;
  height: 70%;
  bottom: 15%;
  right: 150px;
  position: absolute;
  margin:1rem 0;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}


/*contact  */
@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


.body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}
h1{
	font-weight: normal;
	font-size: 6em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 50px;
	width: 500px;
	color: #F90;
	text-align: center;

}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 260px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


/* header{
	height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
} */

#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
  bottom: 70px;
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}



/* slideshow */

h2 {
  font-size: 48px;
  text-align: center;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding-top: 0;
}

h4 {
  font-size: 24px;
  text-align: center;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding-top: 0;
}

h5 {
  color: #fff;
  border-radius: 25px; 
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  background-size: cover;
}
a{
  color: #a1e7c9;
}

#mySlider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;

}

.singleSlide {
  background-size: 100%;
  height: 400px;
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0px;
}

.slideOverlay {
  background-color: rgba(81, 77, 77, 0.5);
  padding: 200px;
}

#sliderNav {
  position: relative;
  top: -175px;
}

#sliderNav:hover {
  cursor: pointer;
}

#sliderPrev {
  position: relative;
  float: left;
  left: 50px;
}

#sliderNext {
  position: relative;
  float: right;
  right: 50px;
}

#sliderNext img,
#sliderPrev img {
  width: 32px;
}

@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  100% {
    left: 0;
  }
}

.slideInRight {
  left: -100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInLeft {
  left: 100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation: slideOutLeft 1s forwards;
  animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

.slideOutRight {
  -webkit-animation: slideOutRight 1s forwards;
  animation: slideOutRight 1s forwards;
}
